.git
.gitignore
.dockerignore

node_modules
**/node_modules
.npm
.pnpm-store
.yarn

dist
build
target
out
coverage

logs
*.log
tmp
temp
.cache
*.tmp
*.swp
*.swo

screenshots
playwright-report
test-results
*.png
*.jpg
*.jpeg

.DS_Store
.idea
.vscode
*.iml
.trae
